@tailwind base;
@tailwind components;
@tailwind utilities;

/* TOols.jsx css  */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden; /* stop whole-page scrolling */
}



/* Thin scrollbar custom css */
/* thin modern scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}
/* end thin scrollbar custom css */
